#ticket {
  background: white;
  background: linear-gradient(
    to right,
    rgba(241, 234, 255, 1) 0%,
    rgba(229, 212, 255, 1) 25%,
    rgba(220, 191, 255, 1) 75%,
    rgba(208, 162, 247) 100%
  );

  border-radius: 25px;

  box-shadow: -10px 20px 20px 1px gray;

  min-height: 200px;
}

#ticket code {
  color: black;
}
